<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1cPiV2nynYhxRpX4RzelTlN8hRRoKtEE</string>
	<key>GCM_SENDER_ID</key>
	<string>756462817760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.farmilyrev</string>
	<key>PROJECT_ID</key>
	<string>farmilycd</string>
	<key>STORAGE_BUCKET</key>
	<string>farmilycd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756462817760:ios:4ca43c5aa5075fd2a1db85</string>
	<key>DATABASE_URL</key>
	<string>https://farmilycd-default-rtdb.firebaseio.com</string>
</dict>
</plist>